spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/studs
    driver-class-name: org.postgresql.Driver
    username: s412905
    password: PzifW6F1NegAkSI7
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 24788
